
* { padding:0px; margin:0px; }
html, body { background-color:#212121; font:normal 14pt Raleway, "Century Gothic", Verdana, sans-serif; color:#DCDCDC; width:100%; height:100%; min-height:920px; }

.row { width:100%; height:30px; margin-bottom:5px; }
.bump { position:relative; }
.bump.up1  { bottom: 1px; }
.bump.up2  { bottom: 2px; }
.bump.up3  { bottom: 3px; }
.bump.up4  { bottom: 4px; }
.bump.up5  { bottom: 5px; }
.bump.up6  { bottom: 6px; }
.bump.up7  { bottom: 7px; }
.bump.up8  { bottom: 8px; }
.bump.up9  { bottom: 9px; }
.bump.up10 { bottom:10px; }

.bump.down1  { top: 1px; }
.bump.down2  { top: 2px; }
.bump.down3  { top: 3px; }
.bump.down4  { top: 4px; }
.bump.down5  { top: 5px; }
.bump.down6  { top: 6px; }
.bump.down7  { top: 7px; }
.bump.down8  { top: 8px; }
.bump.down9  { top: 9px; }
.bump.down10 { top:10px; }

.bump.left1  { right: 1px; }
.bump.left2  { right: 2px; }
.bump.left3  { right: 3px; }
.bump.left4  { right: 4px; }
.bump.left5  { right: 5px; }
.bump.left6  { right: 6px; }
.bump.left7  { right: 7px; }
.bump.left8  { right: 8px; }
.bump.left9  { right: 9px; }
.bump.left10 { right:10px; }

.bump.right1  { left: 1px; }
.bump.right2  { left: 2px; }
.bump.right3  { left: 3px; }
.bump.right4  { left: 4px; }
.bump.right5  { left: 5px; }
.bump.right6  { left: 6px; }
.bump.right7  { left: 7px; }
.bump.right8  { left: 8px; }
.bump.right9  { left: 9px; }
.bump.right10 { left:10px; }

/*  DIALOG  */
#dialogOverlay { width:100%; height:100%; background-color:#000000; opacity:0.6; position:absolute; top:0px; left:0px; display:none; }
#dialog { width:850px; height:400px; background-color:#000000; border:2px solid #000000; border-radius:10px; position:absolute; top:50%; left:50%; margin-top:-200px; margin-left:-425px; display:none; }
#dialog #dialogHeader { width:800px; padding:13px 25px; background-color:#0D7377; color:#000000; border-radius:8px 8px 0px 0px; font-size:14pt; font-weight:bold; }
#dialog #dialogContent { width:850px; height:300px; padding:2px 0px; }
#dialog #dialogContent #dialogTextarea { width:837px; height:288px; padding:5px; }
#dialog #dialogFooter { width:850px; height:47px; background-color:#333333; border-radius:0px 0px 8px 8px; }
#dialog #dialogFooter .button { width:100px; margin:2px 2px 0px 2px; padding:11px 0px; color:#000000; text-align:center; float:right; cursor:pointer; }
#dialog #dialogFooter .button.save { background-color:#0D7377; }
#dialog #dialogFooter .button.close { background-color:#CCCCCC; border-radius:0px 0px 6px 0px; }

/*  SIDEBAR  */
#sidebar { width:200px; height:100%; padding-top:50px; box-sizing:border-box; box-shadow:0px 0px 5px #000000; float:left; }
#sidebar h1 { font-size:20pt; font-weight:normal; text-align:center; margin-bottom:20px; }
#sidebar h3 { font:normal 18pt Lobster, "Century Gothic", Verdana, sans-serif; margin-bottom:10px; color:#14FFEC; }
#sidebar .section { padding:10px 20px; margin-bottom:20px; border-bottom:1px solid #111111; }
#sidebar .btn { background-color:#323232; color:#111111; border:1px solid #111111; text-align:center; }
#sidebar .btn:hover { background-color:#0D7377; cursor:pointer; }
#sidebar .btn.active { background-color:#0D7377; }

#sidebar #canvas_size {  }
#sidebar #canvas_size .row { text-align:right; }
#sidebar #canvas_size .row input { width:50px; padding:5px; font-size:12pt; text-align:right; }
#sidebar #canvas_size #apply_btn { width:100%; padding:10px 0px; margin-top:10px; }

#sidebar #settings {  }
#sidebar #settings .row { width:140px; margin-right:20px; text-align:right; }
#sidebar #settings .row .setting.checkbox { width:30px; height:30px; }

#sidebar #toolset {  }
#sidebar #toolset .tool { width:50px; padding:5px 0px; margin:0px 1px 20px 0px; float:left; }

#sidebar #actions {  }
#sidebar #actions .action { width:100%; padding:5px 0px; margin-bottom:5px; }
#sidebar #actions .action.yellow { background-color:#FDDD2D; }
#sidebar #actions .action.yellow:hover { background-color:#FDE34E; }
#sidebar #actions .action.green { background-color:#11BE41; }
#sidebar #actions .action.green:hover { background-color:#14EB51; }
#sidebar #actions .action.red { background-color:#C51B20; }
#sidebar #actions .action.red:hover { background-color:#E01F25; }

/* CONTENT */
#content { height:100%; float:left; }
#content #viewport { background-color:#000000; margin:10px 0px 0px 10px; }

/** CLEARFIX for floated elements */
.cf:before, .cf:after { content:""; display:table; } /* For modern browsers */
.cf:after { clear:both; } /* For modern browsers */
.cf { *zoom:1; } /* For IE 6/7 (triggers hasLayout) */